version: 0.1
auth:
  htpasswd:
    realm: basic-realm
    path: /config/auth/htpasswd
log:
  fields:
    service: registry
storage:
  filesystem:
    rootdirectory: /data/registry
  delete:
    enabled: true
http:
  addr: :5000
  headers:
    X-Content-Type-Options: [nosniff]
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3
